.menu-icon {
    margin-right: 18px;
}
.select2-dropdown {
    z-index: 9998 !important;
}
.select2-selection { overflow: hidden; }
.select2-selection__rendered { white-space: normal; word-break: break-all; }